name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

    workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.14.1']

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.14.1  
      uses: actions/setup-python@v4
    
    - name: Run tests
      run: python -m unittest discover -s . -p "*test*.py"

